<script>
    var area_val = $('[name=itemtype]:checked').val();
    $(function(){
        if(area_val == 1) {
            $('.radioitem.new').remove()
            $('.textitem.new').removeClass('new')
            $('.fieldclass').val('a')
        }else if(area_val == 0){
            $('.radioitem.new').removeClass('new')
            $('.textitem.new').remove()
            $('.fieldclass').val('b')
        }
    })    
</script>

<div class="field">
<%= f.text_field :itemname, class: "radioitem new" %>
<%= f.text_field :itemname, class: "textitem new" %>
<%= f.hidden_field :fieldclass, class: "fieldclass" %>
</br>
</div>